$clr-SoftRed: hsl(10, 79%, 65%);
$clr-Cyan: hsl(186, 34%, 60%);
$clr-DarkBrown: hsl(25, 47%, 15%);
$clr-MediumBrown: hsl(28, 10%, 53%);
$clr-Cream: hsl(27, 66%, 92%);
$clr-PaleOrange: hsl(33, 100%, 98%);

$txt-size-big: 3.2rem;
$txt-size-nrml: 1.8rem;
